@font-face {
    font-family: Montserrat;
    src: url(fonts/Montserrat-Regular.ttf);
}
@font-face {
    font-family: Montserrat-Bold;
    src: url(fonts/Montserrat-Bold.ttf);
}
*{
    font-family: Montserrat;
}
body{
    background-color: #dcdcdc;
    height: 100vh;
}
.container{
    background-color:  #bbbbbb;
}
.main{
    background-color: #41156f;
    padding: 30px 50px;
    position: sticky;
    top: 0px;
    box-shadow: 0px 2px 5px #535252;
}
h1{
    font-family: Montserrat-Bold;
    color: #fff;
}
input{
    box-sizing: border-box;
}
#todoInput{
    background-color: #ffffff;
    /* padding: 6px 12px; */
    outline: 0px;

}
#todoInput:focus{
    outline: 0px solid black !important;
    border: 0px solid black;
}
.btn{
    background-color: #149f45;
    transition: 0.4s;
}
.btn:hover, .btn:active, .btn:focus{
    background-color: #066f2b;
    color: #fff;
    outline: none;
}
.items-list{
    padding: 30px 50px;
}

#todoList li{
    margin: 6px 0px;
    padding: 20px 15px;
    list-style: none;
    color: #000000;
    background-color: #ffffff;
    /* outline: 1px solid #262525; */
    border-radius: 5px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#todoList li:hover{
    box-shadow: 2px 2px 5px #6f6e6e;

}
#todoList li button{
    margin-left: 10px;
    padding: 3px 10px;
    background-color: #41156f;
    border: 1px solid #260a43;
    color: #fff;
    border-radius: 3px;
    transition: 0.3s;
}

#todoList li .removebtn:hover{
    background-color: #ff0000;
    border: 1px solid #740404;
    color: #fff;
}
#todoList li .editbtn:hover{
    background-color: #02872a;
    border: 1px solid #024b18;
    color: #fff;

}